#projetos{
    width: 100vw;
    height: 100vh;
    background-color: rgba(26, 26, 26, 1);
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

.skills{
    margin-top: 2.5rem;
    margin-bottom: .4rem;
    font-size: 3.5rem;
}

#box-hardsoft-button{
    margin-top: 0;
    width: 8%;
    height: 7%;
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-items: center;
}

.hard-soft-switch{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
}

#hard{
    color:white;
    transition: all .2s ease;
}

#hard:hover{
    color: rgb(255, 174, 80);
    cursor: pointer;
}

#soft{
    color: white;
    transition: all .2s ease;
}

#soft:hover{
    color: rgb(255, 174, 80);
    cursor: pointer;
}

.box-skills{
    margin-top: 4vh;
    width: 80vw;
    height: 57vh;
    display: flex;
    justify-content: center;
    align-items: row;
    flex-wrap: wrap;
    gap: .5rem;
}

.skill{
    width: 14rem;
    height: 11rem;
    background-color: rgb(36, 36, 36);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.skill-icon{
    margin-top: .1rem;
    width: 20%;
}

.skill-text{
    width: 90%;
    height: 85%;
    color: white;
    font-weight: 200;
    font-size: .65rem;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-title{
    color: white;
    margin:0;
    font-weight: 450;
}

.display-logo{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-titulo{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-texto{
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mysql{
    width: 40%;
}

.node{
    width: 30%;
}