#sobre{
    width: 100vw;
    height: 100vh;
    background-color: rgba(26, 26, 26, 1);
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secao{
    color: white;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 10vh;
    margin-bottom: 1.7rem;
}

.negrito-laranja{
    color: rgb(255, 174, 80);
}

#bloco-sobre-mim{
    width: 100%;
    height: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#bloco-foto-sobre-mim{
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#bloco-texto-sobre-mim{
    width: 65%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 1rem;
}

#display-foto-sobre-mim{
    width: 70%;
    height: 85%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#linha-foto-sobre-mim{
    width: 70%;
    height: 85%;
    position: absolute;
    border: 1.5px white solid;
    margin-left: 4%;
    margin-top: 4%;
}

#bloco-branco{
    position: absolute;
    width: 9rem;
    top: -25px;
    left: -25px;
    z-index: 9;
}

#foto-sobre-mim{
    height: 100%;
    margin-right: 13rem;
}

#titulo-bloco-texto-sobre-mim{
    color: white;
    font-size: 1.3rem;
    font-weight: 500;
}

#bloco-descricao-sobre-mim{
    color: white;
    font-weight: 200;
    width: 85%;
    height: 35%;
    overflow: hidden;
    box-sizing: border-box;
}

#bloco-laranja{
    position: absolute;
    bottom: 2rem;
    right: -5.5rem;
    width: 10rem;
}

#bloco-infos-sobre-mim{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 75%;
    height: 25%;
}

.item-bloco-info{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-topicos-about{
    margin: 0;
    color: white;
    font-weight: 300;
    font-size: 1rem;
}

.icone-info-topico-about{
    margin-right: .6rem;
    width: 6%;

}



#div-botao-curriculo{
    margin-top: 2%;
    width: 12%;
    height: 8%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    position: relative;
}

#estilo-botao-curriculo{
    width: 3%;
    height: 100%;
    background-color: rgb(255, 174, 80);
    transition: all .3s ease;
}

#botao-curriculo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 1.0rem;
    transition: all .3s ease;
}

#botao-curriculo:hover{
    color: black;
    cursor: pointer;
}

#botao-curriculo:hover ~ #estilo-botao-curriculo{
    width: 100%;
}